# Terraform state (berisi sensitive data)
*.tfstate
*.tfstate.backup

# Private key
*.pem

# Direktori internal Terraform
.terraform/

# File variable yang berisi secrets
*.tfvars
!terraform.tfvars.example
